<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>using html 34-3</h3>

    <%=["using ejs","amit"][1]%>

    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Optio nisi vero velit error excepturi cum recusandae possimus perferendis\
     dolorum numquam. Et fugiat voluptas hic mollitia aliquid facilis enim soluta 
     distinctio.</p>

     <button>click me</button>
</body>
</html>