<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instagram</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 style="color: cornflowerblue;">This account is belongs to @<%= data  %></h1>
    <button>follow</button>
    <button>message</button>
 
</body>
</html>